<body>
    <h1>Welcome to CSE Motors!</h1>
    <div class="car-info">
        <div class="car-details">
            <h2>DMC Delorean</h2>
            <p>3 cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>
                <img src="/images/site/own_today.png" alt="An Own today button">
            </button>
        </div>
        <div class="car-image">
            <img src="/images/vehicles/delorean-tn-Photoroom.png-Photoroom.png" alt="a Delorean">
        </div>
    </div>

    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it´s almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I´m feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80´s living and I love it!" (5/5)</li>
    </ul>

    <h2>Delorean Upgrades</h2>
    <div class="upgrades">
        <div class="upgrade-item">
            <img src="/images/upgrades/flux-cap.png" alt="a Flux capacitor">
            <p class="upgrade-title">Flux Capacitor</p>
        </div>
        <div class="upgrade-item">
            <img src="/images/upgrades/flame.jpg" alt="A flame decals">
            <p class="upgrade-title">Flame Decals</p>
        </div>
        <div class="upgrade-item">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="A bumper stickers">
            <p class="upgrade-title">Bumper Sticker</p>
        </div>
        <div class="upgrade-item">
            <img src="/images/upgrades/hub-cap.jpg" alt="A Hub Caps">
            <p class="upgrade-title">Hub Caps</p>
        </div>
    </div>
    
</body>
